section.clients.container.text-center
  .row
    h1.col-xs-12 Lorem ipsum dolor sit amet
    h1.col-xs-12
     span Consectetur 
     | adipisicing elit. Placeat, eum
  .row
      a(href="#").col-xs-12.col-sm-2.col-sm-offset-2
        img(src="img/google.png").img-responsive
      a(href="#").col-xs-12.col-sm-2
        img(src="img/slack.png").img-responsive
      a(href="#").col-xs-12.col-sm-2
        img(src="img/invision.png").img-responsive
      a(href="#").col-xs-12.col-sm-2
        img(src="img/google.png").img-responsive