footer.container-fluid
  img(src="img/footer-top.png").img-responsive
  .footer-background.container-fluid
    .footer-content.container
      .row
        .footer-company-info.col-xs-12.col-sm-3.col-md-3.col-md-offset-1
          img(src="img/logo.png").footer-logo
          p.footer-text.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Fuga praesentium blanditiis, veniam
          span.copyright Copyright 2015-2017
        .footer-links.col-xs-12.col-sm-3.col-md-2
          span.footer-title 
            b Links
          ul.list-unstyled
            li
              a(href="#") Tentang Kami
            li
              a(href="#") Blog
            li
              a(href="#") Event Kita
            li
              a(href="#") Layanan
            li
              a(href="#") Syrat & Ketentuan
        .footer-contacts.col-xs-12.col-sm-3.col-md-3
          span.footer-title
            b Contact us
          p Feel free to get in touch with us via phone or send us a message.
          .footer-contacts-message
            i.fa.fa-envelope
            span hello@panggon.com
          .footer-contacts-phone
            i.fa.fa-phone
            span +6288564343275
        .footer-register.col-xs-12.col-sm-3.col-md-3
          span.footer-title
            b Register your space
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Cupiditate praesentium distinctio minus illum repellat alias 
          a.footer-register-btn Register
          
