section.locations.container
  .locations-info.row
    h1.locations-title.col-xs-12.text-center Lorem ipsum dolor
    span.locations-description.col-xs-12.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus

  .locations-blocks.row
    include ../components/_location-block
    include ../components/_location-block
    include ../components/_location-block
    include ../components/_location-block
    include ../components/_location-block
    include ../components/_location-block
  
  .locations-load-btn.row.text-center
    a(href="#") Load more