div.col-xs-12.col-sm-6.col-lg-4
  .location-block.col-xs-12
    .row
      img(src="img/office.jpg").location-img.img-responsive
    .location-info.row
      .location-title.col-xs-12
        span 
          b Hotel Grand Whiz Square
      .location-address.col-xs-12
        i.fa.fa-map-marker
        span JI. Bulevard Raya, Jakarta Selatan
      .location-capacity.col-xs-12
        i.fa.fa-briefcase
        span 11 Persons
      .row
        .col-xs-6
          .location-rating.col-xs-12
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          .location-reviews.col-xs-12
            span (110 reviews)
        .col-xs-6.text-right
          a(href="#").location-details-btn Detail