.review.col-xs-12.col-sm-6
  .row
    .col-xs-4.col-sm-2
      img(src="img/reviwer.jpg", alt="reviewer").img-responsive
    .col-xs-8.col-sm-9
      blockquote
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Aspernatur voluptatum iste numquam, praesentium possimus 
          laboriosam harum labore aliquam ab optio obcaecati itaque 
          odio, quam repellat maxime id illum dignissimos. Dolorem!"
        cite 
          .author 
            b Andre Henderson
          .author-position Creative Director @ 
            span Google