.locations {
  margin-bottom: 70px;
  
  &-title {
    margin-bottom: 20px;
  }

  &-description {
    margin-bottom: 50px;
  }

  &-blocks {
    margin-bottom: 15px;
  }

  &-load-btn {
    a {
      padding: 10px 20px;
      border: 2px solid $accent-color;
      border-radius: 25px;
      color: $accent-color;
      font-weight: 600;
    }
  }
}