//Main colors
$accent-color: #5ed98f;
$primary-color: #262f3d;
$alert-color: #f6767c;
//Text colors
$captions-text-color: #4c4c4c;
$text-color: #666;
$footer-text-color: #b6b9be;

//Other colors
$star-icon-color: #f6cc5a;
$input-background: #eee;
$btn-hover-color: #17d262;
$white: #fff;
